extends layout
block head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/lib/ajax.js')
block content
  .toolbar.elevation-2
    .toolbar-logo--layout
      .logo-colored
      .toolbar-title Balloon
    if username
      .user-panel(onmouseover='openInfoPanel()' onmouseout='closeInfoPanel()')
        img.user-panel--avatar(src='/api/avatar?username=' + username, onclick="toProfile('" + username + "')")
        .user-panel--info.elevation-2
          .user-panel--menu
            .user-panel--menu-text(onclick="toProfile('" + username + "')") 资料
          .user-panel--menu
            .user-panel--menu-text 退出
          .user-panel--menu
            .user-panel--logout-icon(onclick='logout()')
    else
      .login-button(onclick="javascripts:window.location.href='/Login'") LOGIN
    .menu-group
      a.menu(href='/user') GET APP
      a.menu(href='/express') COURIER
      a.menu(href='/service') SERVICE
      a.menu(href='/about') ABOUT

  script.
      let panel = document.querySelector('.user-panel--info');
      function openInfoPanel() {
          panel.style.display = 'inline-block';
      }
      function closeInfoPanel() {
          panel.style.display = 'none';
      }
      function toProfile(username) {
          window.location.href = '/users/' + username;
      }
      function logout() {
          ajax({
              url: '/login/logout',
              method: 'POST',
              onSuccess: function () {
                  window.location.href = '/'
              }
          })
      }
