extends layout
block head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .appbar
    .toolbar
      .logo
        img(src='/images/logo.png')
      a.toolbar-title(href='#') Balloon
      a.text-button(href='/Login') Login