extends layout
block head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  .toolbar
    img.toolbar-logo(src='/images/logo_colored.svg')
    a.toolbar-title(href='#') Balloon
    if username
      .avatar-layout
        img.avatar(src='/api/avatar?username=' + username)
        .username= username
    else
      .login-button(onclick="javascripts:window.location.href='/Login'") Login
    .menu-group
      a.menu(href='/user') 用户端
      a.menu(href='/express') 快递员
      a.menu(href='/service') 服务说明
      a.menu(href='/about') 关于
  script.
