extends layout
block head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  .toolbar
    .toolbar-logo--layout
      .logo-colored
    .toolbar-title Balloon
    if username
      img.avatar(src='/api/avatar?username=' + username, onclick="javascripts:window.location.href='/users/" + username + "'")
    else
      .login-button(onclick="javascripts:window.location.href='/Login'") 登陆
    .menu-group
      a.menu(href='/user') 用户端
      a.menu(href='/express') 快递员
      a.menu(href='/service') 服务说明
      a.menu(href='/about') 关于
  script.
