extends layout
block head
  title= title
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/lib/ajax.js')
block content
  .toolbar.elevation-2
    .toolbar-logo--layout
      .logo-colored
      .toolbar-title Balloon
    if username
      .user-panel(onmouseover='openInfoPanel()' onmouseout='closeInfoPanel()')
        img.user-panel--avatar(src='/api/avatar?username=' + username, onclick="javascripts:window.location.href='/users/" + username + "'")
        .user-panel--info.elevation-2
          ul
            li
              div Profile
            li
              .logout-text Logout
              .logout-icon
    else
      .login-button(onclick="javascripts:window.location.href='/Login'") LOGIN
    .menu-group
      a.menu(href='/user') GET APP
      a.menu(href='/express') COURIER
      a.menu(href='/service') SERVICE
      a.menu(href='/about') ABOUT

  script.
    let panel = document.querySelector('.user-panel--info');
    function openInfoPanel() {
        panel.style.display = 'inline-block';
        console.log('over')
    }
    function closeInfoPanel() {
        panel.style.display = 'none';
        console.log('out')
    }
