extends layout

block content
  .appbar
    .toolbar
      .logo
        img(src='/images/logo.png')
      .toolbar-title Balloom
      .account
        a.text-button(href='/Login') 登陆
        | &#160|&#160
        a.text-button(href='/Register') 注册