extends layout
block head
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='/javascripts/lib/ajax.js')
block content
  .content-panel
    .toolbar
      .toolbar-logo--layout(onclick="javascript:window.location.href='/'")
        .logo-white
        .toolbar-title(style="color:white;") Balloon
    .poster
  .login-panel
    .logo-image
    .logo-title Balloon
    form#login.login
      .hint 账号
      input.text-input(id='username', type='text', name='username', placeholder='手机号或邮箱')
      br
      .hint 密码
      input.text-input(id='password', type='password', name='password', placeholder='密码')
      .forgot-pass 忘记密码?
      .error-info
      .button-group
        .button-wrapper
          .login-button(onclick='login()') 登陆
        .button-wrapper
          .register-button(onclick="javascript:window.location.href='/register'") 注册

  script.
      function login() {
          let formData = new FormData(document.querySelector('#login'));
          ajax({
              method: 'POST',
              url: '/api/login',
              data: formData,
              onSuccess: function (data, status) {
                  if (status === 200) {
                      window.location.href = '/'
                  }
              }
          })
      }