extends layout
block head
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
  .login-panel
    .toolbar
      img.logo(src='/images/logo.png')
    .title Sign In
    form.login(method='POST')
      .hint username
      input.text-input(type='text', name='username', placeholder='phone or email')
      br
      .hint password
      input.text-input(type='password', name='password', placeholder='your password')
      .forgot-pass Forgot Password?
      .error-info
      .button-group
        .button-wrapper
          .login-button Login
        .button-wrapper
          .register-button Register
  .content-panel
    | Content
  script.
      let text_input = document.querySelectorAll('.text-input');
      text_input.forEach(function(el) {
          console.log(getComputedStyle(el, null).getPropertyValue('width'))
          el.style.paddingLeft = '12px';
          el.style.paddingRight = '12px';
          el.style.width = `${parseFloat(getComputedStyle(el, null).getPropertyValue('width').replace('px', '')) - 24}px`;
      })