extends layout
block head
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='/javascripts/lib/ajax.js')
block content
  .toolbar
    .toolbar-logo--layout(onclick="javascript:window.location.href='/'")
      .logo-colored
      .toolbar-title Balloon
  .content
    .login-panel.elevation-1
      .logo-image
      input.text-input(id='username', type='text', name='username', placeholder='phone e-mail')
      .login-button Next



  script.
      function login() {
          let formData = new FormData(document.querySelector('#login'));
          ajax({
              method: 'POST',
              url: '/api/login',
              data: formData,
              onSuccess: function (data, status) {
                  if (status === 200) {
                      window.location.href = '/'
                  } else {
                      document.querySelector('.error-info').innerHTML = data
                  }
              }
          })
      }

      let logo = document.querySelector('.toolbar-logo--layout');
      let start = logo.style.marginLeft === '' ? 0 : parseInt(logo.style.marginLeft);
      console.log(`start: ${start}`);
      let step = 200/60.0;
      requestAnimationFrame(function (time) {
          console.log('requestAnimationFrame()')
          let newLeft = logo.style.marginLeft === '' ? step : parseInt(logo.style.marginLeft)+step;
          logo.style.marginLeft = newLeft + 'px';
          if (newLeft < start + 200) {
              requestAnimationFrame(arguments.callee);
          }
      });