extends layout
block head
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
  .appbar
    .toolbar
      .logo
        img(src='/images/logo.png')
      a.toolbar-title(href='/') Balloon
  .content
    .login-panel
      img(src='/images/logo.png', width=80, height=80)
      form.login(method='POST')
        input.text-input(type='text', name='username', placeholder='username')
        br
        input.text-input(type='password', name='password', placeholder='password')
        .forgot-pass Forgot Password?
        .error-info
        input.login-button(type='submit', value='login')
  script.
      let center = document.querySelector('.login-panel');