doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        .center
            form
                input(type='text', name='username', placeholder='username')
                br
                input(type='password', name='password', placeholder='password')
                br
                input(type='submit', name='login', value='login')


