extends layout

block head
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
block content

  .toolbar
    img.toolbar-logo(src='/images/logo.svg')
    a.toolbar-title(href='/') Balloon