extends layout

block head
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
  .appbar
    .toolbar
      .logo
        img(src='/images/logo.png')
      a.toolbar-title(href='/') Balloon