extends layout
block head
  head
    link(rel='stylesheet', href='/stylesheets/user.css')
    script(src='/javascripts/lib/ajax.js')
    title= title
block content
  .toolbar.elevation-2
    .toolbar-logo--layout
      .logo-colored
    .toolbar-title Balloon
    .icon-exit
  .content
    .info-panel.elevation-2
      img.avatar(src='/api/avatar?username=' + username)
      | #{username}
  script.