extends layout
block head
  head
    link(rel='stylesheet', href='/stylesheets/user.css')
    script(src='/javascripts/lib/ajax.js')
    title= title
block content
  span.file-selector-layout
    span.file-selector--button 上传
    input#uploadfile.file-selector--input(name='avatar', type='file')
  //.button(onclick='putMethod()') Put
  //.button(onclick='deleteMethod()') Delete
  script.
      function putMethod() {
          ajax({
              method: 'PUT',
              url: '/api/avatar',
              data: {name: 'wzjing'},
              success: function (status, data) {
                  console.log(`Returned: ${data}`)
              },
              error: function (error, message) {
                  console.error('error', message)
              }
          })
      }

      function deleteMethod() {
          ajax({
              method: 'DELETE',
              url: '/api/avatar',
              success: function (status, data) {
                  console.log(`Returned: ${data}`)
              },
              error: function (error, message) {
                  console.error('error', message)
              }
          })
      }