@import "lib/theme.scss";
@import "lib/toolbar.scss";
@import "lib/elevation.scss";

body {
  min-width: 800px;
}

.account {
  position: absolute;
  display: inline-block;
  right: 10px;
  margin: 12px 0;
  padding: 0 10px;
  height: 36px;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(#ff0000, 0.16);
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  color: #ffffff;
  background: #FF4D4D;
}

.login-button {
  float: right;
  display: inline-block;
  margin: ($toolbar-height - 28px)/2 24px;
  padding: 6px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  background-color: #003CFF;
  color: white;
  cursor: pointer;
  box-shadow: 0 1px 20px 2px rgba(#000, 0.20);
  &:hover {
    background-color: #3361ff;
  }
  &:active {
    background-color: #0035ca;
    color: white;
  }
}

.avatar {
  float: right;
  display: inline-block;
  margin: 8px 16px;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.username {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.menu-group {
  display: inline-block;
  //float: right;
  margin: 22px 0 0 16px;
  vertical-align: top;
  font-size: 14px;
}

.menu {
  font-family: Normal-SC, sans-serif;
  text-decoration: none;
  color: black;
  margin: 0 26px;
  cursor: pointer;
}
