@import "lib/theme.scss";
@import "lib/toolbar.scss";

$input-width: 60%;
$input-width--max: 320px;

body {
  display: flex;
  min-width: $mobile-width;
}

.login-panel {
  flex: 1;
  display: inline-block;
  top: 0;
  width: 50%;
  height: 100%;
  text-align: center;
}

.content-panel {
  flex: 1;
  display: inline-block;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  text-align: center;
  @media only screen and (max-width: $mobile-width) {
    flex: 0;
    display: none;
  }
}

.poster {
  @extend .logo-big-white;
  position: relative;
  width: 240px;
  height: 240px;
  margin: 50vh auto auto;
  transform: translateY(-50%);
}

.logo-image {
  @extend .logo-big-colored;
  width: 90px;
  height: 90px;
  margin-top: 40px;
}

.logo-title {
  @extend .logo-text;
  width: $input-width;
  max-width: $input-width--max;
  margin: 12px auto 0;
}

form.login {
  width: $input-width;
  max-width: $input-width--max;
  margin: 60px auto 0;
  text-align: center;
  background-color: white;
}

.hint {
  width: 100%;
  text-align: left;
  font-size: 12px;
  margin: 16px 0 8px;
  padding: 0 0 0 8px;
}

.text-input {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  padding: 0 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 12px;
  &:focus {
    border-color: $color-primary;
  }
  &::-webkit-input-placeholder {
    color: rgba(#000, 0.54);
  }
}

.forgot-pass {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.32);
  text-align: end;
  cursor: pointer;
  margin: 6px 0 0;
}

.error-info {
  margin: 20px 0 0;
  font-size: 12px;
  color: #f00;
  text-align: center;
}

.button-group {
  width: 100%;
  text-align: left;
}

.button {
  display: inline-block;
  width: 60px;
  margin: 15px 0 0;
  padding: 10px 12px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-wrapper {
  display: inline-block;
}

.login-button {
  @extend .button;
  background: $color-accent;
  color: #fff;
  &:hover {
    background: rgba($color-accent, 0.85);
  }
  &:active {
    background: $color-accent;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.16);
  }
}

.register-button {
  @extend .button;
  background: white;
  color: black;
  border: 1px rgba(#000, 0.54) solid;
  margin-left: 30px;
  &:hover {
    background: #EFEFEF;
  }
  &:active {
    background: #CFCFCF;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.16);
  }
}