@import "theme.scss";
@import "toolbar.scss";

.login-panel {
  position: relative;
  display: inline-block;
  padding: 30px 60px 50px;
  margin: 100px 0;
  text-align: center;
  box-shadow: 0 2px 10px 1px rgba(#000000, 0.16);
}

form.login {
  text-align: center;
}

.text-input {
  margin: 12px 0;
  padding: 2px 6px;
  border: 1.6px none rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  outline: none;
  font-size: 14px;
  &:focus {
    border-color: $color-primary;
  }
  &::-webkit-input-placeholder{
    color: rgba(#000, 0.32);
  }
}

.forgot-pass {
  font-size: 12px;
  color: rgba(0,0,0, 0.32);
  text-align: end;
  cursor: pointer;
}

.error-info {
  margin: 20px 0 0;
  font-size: 12px;
  color: #f00;
  text-align: center;
}

.login-button {
  background: $color-primary;
  width: 160px;
  height: 30px;
  margin: 15px 0 0;
  padding: 4px 6px 4px 6px;
  border-radius: 4px;
  color: #fff;
  outline: none;
  border: none;
  &:hover {
    background: $color-primary-dark;
  }
  &:active {
    background: $color-primary-dark;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
}