@font-face {
  font-family: Logo;
  src: local("Noto Serif");
  font-weight: normal; }

@font-face {
  font-family: Normal-SC;
  src: local("Noto Sans CJK SC Regular"); }

@font-face {
  font-family: Normal;
  src: local("Noto Sans"); }

.logo-white {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  vertical-align: center;
  background: url("../../images/icon-white.svg"); }

.logo-colored {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  vertical-align: center;
  background: url("../../images/icon-colored.svg"); }

.logo-big-white {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-white.svg"); }

.logo-big-colored, .logo-image {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-colored.svg"); }

.logo-text, .toolbar-title, .logo-title {
  font-family: 'Logo', sans-serif;
  font-size: 22px;
  font-weight: bold; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: Logo;
  src: local("Noto Serif");
  font-weight: normal; }

@font-face {
  font-family: Normal-SC;
  src: local("Noto Sans CJK SC Regular"); }

@font-face {
  font-family: Normal;
  src: local("Noto Sans"); }

.logo-white {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  vertical-align: center;
  background: url("../../images/icon-white.svg"); }

.logo-colored {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  vertical-align: center;
  background: url("../../images/icon-colored.svg"); }

.logo-big-white {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-white.svg"); }

.logo-big-colored, .logo-image {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-colored.svg"); }

.logo-text, .toolbar-title, .logo-title {
  font-family: 'Logo', sans-serif;
  font-size: 22px;
  font-weight: bold; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.toolbar {
  position: relative;
  height: 60px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: left; }

.toolbar-logo--layout {
  display: inline-block;
  margin: 12px 0 12px 24px;
  cursor: pointer; }

.toolbar-title {
  display: inline-block;
  margin: 0 0 0 16px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 36px;
  color: #000000; }

.content {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 0;
  box-sizing: border-box; }

.elevation-1 {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2); }

.elevation-2 {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2); }

.elevation-3 {
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.2); }

.elevation-4 {
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.2); }

.elevation-5 {
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2); }

.elevation-6 {
  box-shadow: 0 6px 24px 1px rgba(0, 0, 0, 0.2); }

body {
  position: relative;
  min-width: 360px; }

.content {
  display: flex;
  align-items: center;
  justify-content: center; }

.login-panel {
  flex: 0 1 300px;
  display: inline-flex;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  border-radius: 4px;
  height: 400px;
  text-align: center; }

.logo-image {
  width: 80px;
  height: 80px; }

.logo-title {
  width: 60%;
  max-width: 320px;
  margin: 12px auto 0; }

form.login {
  width: 60%;
  max-width: 320px;
  margin: 60px auto 0;
  text-align: center;
  background-color: white; }

.hint {
  width: 100%;
  text-align: left;
  font-size: 12px;
  margin: 16px 0 8px;
  padding: 0 0 0 8px; }

.text-input {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  max-width: 220px;
  padding: 0 12px;
  border-style: none none solid none;
  border-width: 1.5px;
  border-color: rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 12px; }
  .text-input:focus {
    border-color: black; }
  .text-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.54); }

.forgot-pass {
  font-size: 12px;
  color: #003CFF;
  text-align: end;
  cursor: pointer;
  margin: 6px 0 0; }

.error-info {
  margin: 20px 0 0;
  font-size: 12px;
  color: #f00;
  text-align: center; }

.button-group {
  width: 100%;
  text-align: left; }

.button, .login-button, .register-button {
  display: inline-block;
  width: 50px;
  margin: 15px 0 0;
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.button-wrapper {
  display: inline-block; }

.login-button {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  background: #003CFF;
  color: #ffffff;
  align-self: flex-end; }
  .login-button:hover {
    background: rgba(0, 60, 255, 0.85); }
  .login-button:active {
    background: #003CFF;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.16); }

.register-button {
  background: white;
  color: black;
  border: 1px rgba(0, 0, 0, 0.54) solid;
  margin-left: 30px; }
  .register-button:hover {
    background: #EFEFEF; }
  .register-button:active {
    background: #CFCFCF;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.16); }

/*# sourceMappingURL=login.css.map */