@import "lib/theme.scss";
@import "lib/toolbar.scss";
@import "lib/button.scss";
@import "lib/elevation.scss";

body {
  position: relative;
  background-color: #F8F8F8;
  min-width: 600px;
}

.icon-exit {
  @include image("ic_exit.svg");
  float: right;
  display: inline-block;
  margin: ($toolbar-height - 24px)/2 16px;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  &:hover {
    opacity: 0.6;
  }
}

.icon-edit {
  @include image("ic_edit.svg");
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  &:hover {
    opacity: 0.6;
  }
}

.info-panel {
  position: relative;
  width: 480px;
  min-height: 240px;
  margin: 50px auto;
  padding: 20px 0 80px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  @media only screen and (max-width: 800px) {
    margin: 30px auto;
  }
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
}

.file-selector--layout {
  position: relative;
  margin: 12px 0 0;
}

.file-selector--button {
  display: inline-block;
  height: 26px;
  margin: 0 auto;
  padding: 0 12px;
  border-radius: 13px;
  box-sizing: border-box;
  background-color: $color-accent;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 1px 8px 1px rgba($color-accent, 0.2);
  &:hover {
    opacity: 0.6;
  }
}

.file-selector--input {
  width: 0;
  height: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  opacity: 0;
  font-size: 0;
  //display: none;
  overflow: hidden;
}

.username {
  font-size: 16px;
  align-content: center;
  font-weight: bold;
  margin: 12px auto 0;
}

.info {
  position: relative;
  margin: 32px auto 0;
  text-align: start;
  box-sizing: border-box;
}

.row {
  width: 40%;
  margin: 16px auto 0;
  text-align: start;
}

.hint {
  font-family: Normal, sans-serif;
  width: 60px;
  white-space: nowrap;
  color: rgba(#000, 0.54);
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.value {
  font-family: Normal, sans-serif;
  width: 40px;
  white-space: nowrap;
  color: #000;
  display: inline-block;
  font-size: 12px;
}