@font-face {
  font-family: Logo;
  src: local("Noto Serif");
  font-weight: normal; }

@font-face {
  font-family: Normal-SC;
  src: local("Noto Sans CJK SC Regular"); }

@font-face {
  font-family: Normal;
  src: local("Noto Sans CJK SC Regular"); }

.logo-white {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/icon-white.svg"); }

.logo-colored {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/icon-colored.svg"); }

.logo-big-white {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-white.svg"); }

.logo-big-colored {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-colored.svg"); }

.logo-text, .toolbar-title {
  font-family: 'Logo', sans-serif;
  font-size: 22px;
  font-weight: bold; }

@font-face {
  font-family: Logo;
  src: local("Noto Serif");
  font-weight: normal; }

@font-face {
  font-family: Normal-SC;
  src: local("Noto Sans CJK SC Regular"); }

@font-face {
  font-family: Normal;
  src: local("Noto Sans CJK SC Regular"); }

.logo-white {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/icon-white.svg"); }

.logo-colored {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/icon-colored.svg"); }

.logo-big-white {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-white.svg"); }

.logo-big-colored {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-colored.svg"); }

.logo-text, .toolbar-title {
  font-family: 'Logo', sans-serif;
  font-size: 22px;
  font-weight: bold; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.toolbar {
  height: 60px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: left; }

.toolbar-logo--layout {
  display: inline-block;
  margin: 12px 0 12px 32px;
  cursor: pointer; }

.toolbar-title {
  display: inline-block;
  margin: 0 0 0 16px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  color: #000000; }

.content {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Logo;
  src: local("Noto Serif");
  font-weight: normal; }

@font-face {
  font-family: Normal-SC;
  src: local("Noto Sans CJK SC Regular"); }

@font-face {
  font-family: Normal;
  src: local("Noto Sans CJK SC Regular"); }

.logo-white {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/icon-white.svg"); }

.logo-colored {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/icon-colored.svg"); }

.logo-big-white {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-white.svg"); }

.logo-big-colored {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: transparent;
  background: url("../../images/logo-colored.svg"); }

.logo-text, .toolbar-title {
  font-family: 'Logo', sans-serif;
  font-size: 22px;
  font-weight: bold; }

.button {
  background-color: white;
  border: solid 1px #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin: 8px 8px;
  display: inline-block;
  padding: 2px 8px; }
  .button:hover {
    border-color: #000000;
    background-color: #EEEEEE; }
  .button:active {
    border-color: #000000;
    background-color: #CCCCCC; }

.elevation-1 {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2); }

.elevation-2 {
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2); }

.elevation-3 {
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.2); }

.elevation-4 {
  box-shadow: 0 4px 16px 1px rgba(0, 0, 0, 0.2); }

.elevation-5 {
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2); }

.elevation-6 {
  box-shadow: 0 6px 24px 1px rgba(0, 0, 0, 0.2); }

body {
  position: relative;
  background-color: #F8F8F8;
  min-width: 600px; }

.icon-exit {
  background: url("/images/ic_exit.svg");
  float: right;
  display: inline-block;
  margin: 18px 16px;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 16px; }
  .icon-exit:hover {
    opacity: 0.6; }

.icon-edit {
  background: url("/images/ic_edit.svg");
  position: absolute;
  top: 16px;
  right: 16px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 16px; }
  .icon-edit:hover {
    opacity: 0.6; }

.info-panel {
  position: relative;
  width: 480px;
  min-height: 240px;
  margin: 50px auto;
  padding: 20px 0 80px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px; }
  @media only screen and (max-width: 800px) {
    .info-panel {
      margin: 30px auto; } }

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto; }

.file-selector--layout {
  position: relative;
  margin: 12px 0 0; }

.file-selector--button {
  display: inline-block;
  height: 26px;
  margin: 0 auto;
  padding: 0 12px;
  border-radius: 13px;
  box-sizing: border-box;
  background-color: #003CFF;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 1px 8px 1px rgba(0, 60, 255, 0.2); }
  .file-selector--button:hover {
    opacity: 0.6; }

.file-selector--input {
  width: 0;
  height: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  opacity: 0;
  font-size: 0;
  overflow: hidden; }

.username {
  font-size: 16px;
  align-content: center;
  font-weight: bold;
  margin: 12px auto 0; }

.info {
  position: relative;
  margin: 32px auto 0;
  text-align: start;
  box-sizing: border-box; }

.row {
  width: 40%;
  margin: 16px auto 0;
  text-align: start; }

.hint {
  font-family: Normal, sans-serif;
  width: 60px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  font-size: 12px;
  font-weight: bold; }

.value {
  font-family: Normal, sans-serif;
  width: 40px;
  white-space: nowrap;
  color: #000;
  display: inline-block;
  font-size: 12px; }

/*# sourceMappingURL=user.css.map */