@import "lib/theme.scss";
@import "lib/button.scss";

.file-selector-layout {
  cursor: pointer;
}

.file-selector--button {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 30px;
  background-color: $color-accent;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.file-selector--input {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  opacity: .8;
  font-size: 0;
  display: none;
  cursor: pointer;
  overflow: hidden;
}